/* Forget Password */

.login h1 {
    color: #0F2A1D;
    font-weight: 700;
}

.header-content {
    position: relative;
}

.step-content {
    position: absolute;
    top: 40px;
    right: 0;
    text-align: center;
}

.step-content p {
    color: #696969;
    font-size: 12px;
    margin: 0;
}

.step-content span {
    color: #4B7762;
    font-size: 12px;
}

.form-label {
    color: #000;
    font-weight: 500;
}

.forget {
    background-color: #fff;
    color: #94AA98;
    border: 1px solid #94AA98;
    height: 55px;
    border-radius: 6px;
}

.forget::placeholder {
    color: #94AA98;
}

.rounded-img {
    border-radius: 20px;
}

.custom-btn {
    width: 180px;
    height: 55px;
    border-radius: 12px;
    font-size: 24px;
    font-weight: 600;
}

.btn-next {
    background-color: #0F2A1D;
    color: #fff;
    border: none;
}

.btn-next:hover {
    background-color: #123825;
    color: #fff;
}

.icon {
    font-size: 24px;
}

.google-icon {
    font-size: 24px;
    background: linear-gradient(
        #EA4335 25%,
        #FBBC05 20%,
        #34A853 10%,
        #4285F4
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Responsive */

@media (max-width: 768px) {
    .step-content {
        position: static;
        width: 100% !important;
        margin: 15px 0;
        text-align: center;
    }

    .custom-btn {
        width: 100%;
        font-size: 18px;
    }

    .rounded-img {
        margin-top: 30px;
    }
}