<section class="login bg-white min-vh-100 d-flex align-items-center">
    <div class="container">
        <div class="row justify-content-around align-items-center gx-5">

            <div class="col-md-6 mt-4 mt-md-0">
                <div class="header-content position-relative">

                    <img class="img-fluid mb-3" src="assets/images/language.png" alt="language">
                    <img class="img-fluid d-block mt-4" src="assets/images/Frame 1.png" alt="logo">

                    <h1 class="fw-bold text-black">Forget Password</h1>

                    <div class="step-content w-25">
                        <p>Step 1 of 3 <br>
                            <span class="text-center">Forgot Password</span>
                        </p>
                    </div>

                    <p class="text-secondary mb-4">
                        Enter the email of your account and we
                        will send the email to reset your password
                    </p>

                    <form #forgetForm="ngForm">

                        <div class="mb-4">
                            <label class="form-label text-black fw-semibold">
                                Email Address*
                            </label>
                            <input type="email" 
                                   class="form-control forget px-3 py-2" 
                                   placeholder="Enter your email"
                                   [(ngModel)]="email" 
                                   name="userEmail" 
                                   required 
                                   email>
                        </div>

                        <div class="d-flex justify-content-between align-items-center gap-2 py-4">

                            <button type="button" class="btn btn-outline-dark custom-btn" (click)="goToLogin()">
                                Back
                            </button>

                            <button type="button" 
                                    class="btn custom-btn btn-next" 
                                    (click)="goToVerify()"
                                    [disabled]="forgetForm.invalid">
                                Next
                            </button>

                        </div>

                        <div class="d-flex align-items-center my-4">
                            <div class="flex-grow-1 border-top"></div>
                            <span class="px-3 text-secondary small">OR</span>
                            <div class="flex-grow-1 border-top"></div>
                        </div>

                    </form>

                    <ul class="list-unstyled d-flex justify-content-center gap-4 p-0 m-0">
                        <li>
                            <i class="fa-brands fa-google google-icon"></i>
                        </li>
                        <li>
                            <i class="fa-brands fa-apple text-black icon"></i>
                        </li>
                        <li>
                            <i class="fa-brands fa-facebook text-primary icon"></i>
                        </li>
                        <li>
                            <i class="fa-brands fa-square-twitter text-info icon"></i>
                        </li>
                    </ul>

                </div>
            </div>

            <div class="col-md-6 text-center mt-4 mt-md-0">
                <img class="img-fluid rounded-img" src="assets/images/Image.png" alt="Image">
            </div>

        </div>
    </div>
</section>