<!-- <div class="side-bar nav nav-pills flex-column">

  <button class="nav-link active">
    <i class="fa-solid fa-house me-2"></i> Dashboard
  </button>

  <button class="nav-link">
    <i class="fa-solid fa-sliders me-2"></i> Orders
  </button>

  <button class="nav-link">
    <i class="fa-solid fa-tag me-2"></i> Products
  </button>

  <button class="nav-link">
    <i class="fa-solid fa-folder me-2"></i> Categories
  </button>

  <button class="nav-link">
    <i class="fa-solid fa-users me-2"></i> Customers
  </button>

  <button class="nav-link">
    <i class="fa-solid fa-chart-column me-2"></i> Reports
  </button>

  <button class="nav-link">
    <i class="fa-solid fa-star me-2"></i> Coupons
  </button>

  <button class="nav-link">
    <i class="fa-solid fa-newspaper me-2"></i> Inbox
  </button>

  <div class="section-title mt-3">Settings</div>

  <button class="nav-link">
    <i class="fa-solid fa-user me-2"></i> Personal Settings
  </button>

  <button class="nav-link">
    <i class="fa-solid fa-gear me-2"></i> Global Settings
  </button>

</div> -->
<aside class="sidebar-wrapper">
  <nav class="sidebar-nav">
    
    <ul>
      @for (item of mainMenu; track item.label) {
        <li>
          <a [routerLink]="item.route" 
             [routerLinkActive]="'active-link'" 
             [routerLinkActiveOptions]="{ exact: item.route === '/layout' }">
            <i [class]="item.icon"></i>
            <span>{{ item.label }}</span>
          </a>
        </li>
      }
    </ul>

    <div class="menu-heading">Settings</div>

    <ul>
      @for (item of settingsMenu; track item.label) {
        <li>
          <a [routerLink]="item.route" 
             [routerLinkActive]="'active-link'">
            <i [class]="item.icon"></i>
            <span>{{ item.label }}</span>
          </a>
        </li>
      }
    </ul>

  </nav>
</aside>